    body {
        background: #161b22;
        color: antiquewhite;
    }
    
    h1 {
        color: chocolate;
    }
    
    h2 {
        color: aqua;
    }
    
    h3 {
        color: chartreuse;
    }
    
    h1,
    h2,
    h3 {
        text-align: center;
    }
    
    .center {
        margin-top: 2%;
        text-align: center;
    }
    
    button {
        background-color: crimson;
    }
    
    img {
        width: 200px;
        height: 200px;
        border-radius: 50px;
    }